body {
  font-family: 'Raleway', helvetica;
}

/* HEADERS */
.App h1 {
  color:#b22e2a;

  margin: auto;
  padding: 70px;
  text-align: center;
  width: 80vw;
}

.App h3 {
  color: #82bcde;
  padding: 0.75em 0.75em 0em 0;

}

/* IMAGES */
.App img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* BUTTONS */
.btn{
  background-color: #82bcde;
  border: #82bcde;
}

#edit {
  margin-right: 10px;
}